<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>Foodmart - Food & Grocery Delivery Mobile Template</title>
      <!-- Bootstrap Css -->
      <link rel="stylesheet" href="/../../assets/vender/bootstrap/css/bootstrap.min.css">
      <!-- Icofont -->
      <link rel="stylesheet" href="/../../assets/vender/icofont/icofont.min.css">
      <!-- Sidebar css -->
      <link rel="stylesheet" href="/../../assets/vender/sidebar/demo.css">
      <!-- Custom Css -->
      <link rel="stylesheet" href="/../../assets/css/style.css">
   </head>
   <body>
      <div class="track-delivery-boy d-flex flex-column vh-100">
         <!-- navbar -->
         <div class="d-flex align-items-center gap-3 p-3 border-bottom shadow-sm">
            <a href="/home" class="text-primary"><i class="icofont-close fs-5"></i></a>
            <div>
               <h6 class="fw-bold mb-0">Order #131784939798052</h6>
               <p class="text-muted small m-0"><a href="order-detail.html" class="text-primary">View Details</a> - 12:25 PM</p>
            </div>
            <div class="d-flex align-items-center gap-2 ms-auto">
               <a class="toggle" href="#">
               <b class="bg-dark bg-opacity-75 rounded-circle user-icon">
               <i class="bi bi-list d-flex m-0 h4 text-white"></i>
               </b>
               </a>
            </div>
         </div>
         <!-- body -->
         <div class="my-auto overflow-auto vh-100">
            <!-- map -->
            <div class="ratio ratio-4x3 bg-light z-0">
               <img src="/../../assets/img/pickup-delivery.svg" alt="" class="img-fluid">
            </div>
            <!-- content -->
            <div class="bg-white p-3">
               <div class="text-center">
                  <div class="d-flex justify-content-center mb-3">
                     <div class="bg-white rounded-circle shadow-sm p-2 tracking-time">
                        <span class="bg-white order-time">
                           <div class="text-center">
                              <h1 class="fw-bold m-0">23</h1>
                              <p class="text-muted small m-0">mins</p>
                           </div>
                        </span>
                     </div>
                  </div>
                  <p class="text-muted text-center mb-4">livraison en cours à l'adresse<br>H.No. 2834 Street, 784 Sector, Ludhiana, Punjab</p>
               </div>
               <div class="card border-secondary-subtle rounded-3 shadow-sm overflow-hidden mb-4">
                  <div
                     class="card-header d-flex align-items-center justify-content-between border-secondary-subtle border-bottom">
                     <p class="m-0 text-black">3 produit sont emballés</p>
                     <a href="order-detail.html" class="text-primary">voir tout les produits commandé</a>
                  </div>
                  <div class="card-body p-0">
                     <div class="d-flex align-items-center gap-3 p-3 border-bottom">
                        <div>
                           <span class="border rounded d-flex align-items-center justify-content-center p-2"><i class="icofont-package fs-5 text-muted"></i></span>
                        </div>
                        <div class="text-truncate">
                           <h6 class="osahan-mb-1 fw-normal">votre commande <span class="fw-bold">à été emballé</span></h6>
                           <p class="text-muted small text-truncate m-0">Commande embraqué pour livraison</p>
                        </div>
                     </div>
                     <div class="d-flex align-items-center gap-3 p-3">
                        <div>
                           <span class="d-flex align-items-center justify-content-center">
                           <img src="img/delivery-boy.jpg" alt="" class="img-fluid rounded shadow-sm delivery-boy-img">
                           </span>
                        </div>
                        <div class="text">
                           <h6 class="mb-0 fw-normal"><span class="fw-bold">NAJIH YAHYA</span> est en route pour embarqué votre GFIFA</h6>
                        </div>
                        <a href="#" class="text-primary ms-auto"><i class="icofont-phone icofont-2x"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- footer -->
         <div >
            <a routerLink="/home"
               class="btn btn-primary w-100 rounded-0 text-uppercase btn-lg fw-bold">Retour a l'acceuil</a>
         </div>
      </div>
      <!-- Bootstrap Bundle Js -->
      <script src="/../../assets/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Jquery -->
      <script src="/../../assets/vender/jquery/jquery.min.js"></script>
      <!-- Sidebar js -->
      <script src="/../../assets/vender/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom Js -->
      <script src="/../../assets/js/custom.js"></script>
   </body>
</html>